body {
    background-image: url(Splattered.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    margin:30px;
    background-color: rgba(192, 192, 192, 0.637);
    opacity: 1%;
}